body{
    margin: 0;
    text-align: center;
    background-color: #e1d798;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: url("../cursor.cur"), auto !important;

}

#discord{
    text-decoration: none;
    color: 	#BA55D3;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    transition: 0.4s ease-in-out;
}

#discord:hover{
    text-decoration: underline;
    color: #9932CC;
}

h1{
    color: 	#4d784e;
}

#sous_texte{
    font-style: italic;
}

button{
    margin: 7px 0;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: url("../cursor.cur"), auto;
    border: none;
    border-radius: 5px;
    background: #377828;
    background: linear-gradient(90deg,rgb(68, 147, 50) 0%, rgba(41, 128, 78, 1) 100%);
    color: #fff;

    transition: 0.5s ease-in-out;
}

button:hover{
    background: linear-gradient(90deg,rgba(41, 128, 78, 1) 0%, rgb(68, 147, 50) 100%);
    font-size: 135%;

}

.ligne label {
    display: inline-block;
    width: 100px;
}

.ligne input[type="number"] {
    width: 80px;
    padding: 4px;
    margin-bottom: 2px;
}

em{
    font-style: normal;
}


fieldset{
    border: #377828 2px solid;
    border-radius: 25px;
    max-width: 550px;
    width: 90%;
    margin: 20px auto;
    background-color: #dfd8a4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bonus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;
  text-align: left;
}

#bonus h3,
#bonus p {
    text-align: center;
    grid-column: 1 / -1;
    margin: 0 0 10px 0;
}

#bonus p{
    font-style: italic
}


.bonus-item label {
  flex: 1;
}
